
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #c1c2c4;
    font-family: Arial, Helvetica, sans-serif;
    color:#333;
    margin: 0;
}
.buttons button {
    margin-top: 15px;
    width: 400px;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    font-size: 25px;
    text-align: center;

    background-color: rgba(63, 146, 173, 0.467);
    color: black;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 30px;
}
.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.buttons button:hover {
    background-color: rgba(35, 85, 102, 0.767);
    transform: scale(1.05);
}
h1 {
    text-align: center;
    font-size: 75px;
    font-family: 'Times New Roman', Times, serif;
}
p {
    text-align: center;
    font-size: 20px;
    width: 800px;
}