.quiz-main {
    display:flex;
    flex-direction: column;
    align-items: center;

    font-family:Arial, Helvetica, sans-serif;
    color:#333;
    margin:0;
    font-weight: bold;
}
body {
    background-color:#d7dae0;
}
.return-home, .start-q{
    margin-top: 15px;
    width: 300px;
    height: 75px;
    padding: 12px 20px;
    box-sizing: border-box;
    font-size: 20px;
    text-align: center;

    background-color: rgba(63, 146, 173, 0.467);
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    font-weight: bold;
}
.button{
    display:flex;
    flex-direction: column;;
    align-items: center;
    justify-content: center;
}
.button :hover {
    background-color: rgba(35, 85, 102, 0.767);
    transform: scale(1.05);
}
.scenario-box{
    max-width: 700px;
}