.quiz-main {
    display:flex;
    flex-direction: column;
    align-items: center;

    font-family:Arial, Helvetica, sans-serif;
    color:#333;
    margin:0;
    font-weight: bold;
}
body {
    background-color:#d7dae0;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height:100vh;
}
.return-home, .start-q{
    margin-top: 15px;
    width: 300px;
    height: 75px;
    padding: 12px 20px;
    box-sizing: border-box;
    font-size: 20px;
    text-align: center;

    background-color: rgba(63, 146, 173, 0.467);
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    font-weight: bold;
}
.button{
    display:flex;
    flex-direction: column;;
    align-items: center;
    justify-content: center;
}
.phishing-button:hover, .legit-button:hover, #return-b:hover, #next-b:hover{
    background-color: rgba(35, 85, 102, 0.767);
    transform: scale(1.05);
}
.wrapper{
    display:flex;
    flex-direction: column;
    align-items: center;
    max-width:700px;
    width:90%;
    margin-bottom:100vh;
}
#scenario-box{
    width: 100%;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;

    background-color: #f1eded;
    border: solid 4px black;
    border-radius: 15px;
    box-shadow:grey 4px 4px 0px;
}
.phishing-button, .legit-button, #return-b, #next-b{
    margin: 15px;
    width: 150px;
    height: 60px;
    padding: 10px 15px;
    box-sizing: border-box;
    font-size: 18px;
    text-align: center;

    background-color: rgba(63, 146, 173, 0.467);
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-weight: bold;
}
#scene-title, #scenario-content{
    display:flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}
#sender, #scenario-content{
    justify-content: left;
}
.answer-buttons{
    display:flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}
.main-title{
    font-weight:bold;
    font-size:30px;
    display:left;
}